<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
<body>
    <form action = "/newEmployee" method = "post">
        <input type = "text">
        <input type="submit" placeholder="submit">
    </form>
</body>
</html>
